<div class="container text-center">
<div class="card text-center">
<h1>Edit Restaurant</h1>
</div>
<div class="card text-center">

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: Restaurant::CUISINE %>
  <%= f.submit %>
<% end %>
</div>

<div class="card text-center">

<button><%= link_to "Back to list", restaurants_path %></button>
</div>
</div>
